@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root,
[data-theme="dark"] {
  --bg-base: #0F172A;
  --bg-card: #1E293B;
  --border: #334155;
  --text-primary: #F8FAFC;
  --text-muted: #94A3B8;
  --accent: #2563EB;
}

[data-theme="light"] {
  --bg-base: #F8FAFC;
  --bg-card: #FFFFFF;
  --border: #E2E8F0;
  --text-primary: #0F172A;
  --text-muted: #64748B;
  --accent: #2563EB;
}

body {
  background-color: var(--bg-base);
  color: var(--text-primary);
}

[data-theme="dark"] .light-hide {
  display: none;
}

[data-theme="light"] .dark-hide {
  display: none;
}